VITE_FIREBASE_API_KEY=您的-api-key
VITE_FIREBASE_AUTH_DOMAIN=careersim-dffdb.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=careersim-dffdb
VITE_FIREBASE_STORAGE_BUCKET=careersim-dffdb.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=您的-messaging-sender-id
VITE_FIREBASE_APP_ID=您的-app-id